@model IEnumerable<GameDatabaseMVC.Material>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Materials Name")
        </th>
        <th>
            @Html.DisplayName("Monster Drop Location")
        </th>
        <th>
            @Html.DisplayName("Monster High Rank Drop")
        </th>
        <th>
            @Html.DisplayName("Monster Low Rank Drop")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.materialsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dropLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.highRankDrop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lowRankDrop)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.materialsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.materialsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.materialsID })
        </td>
    </tr>
}

</table>
