@model IEnumerable<GameDatabaseMVC.Monster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Monster Name")
        </th>
        <th>
            @Html.DisplayName("Monster Weakness")
        </th>
        <th>
            @Html.DisplayName("Monster Damage")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.monsterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monsterWeakness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monsterDamage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.monsterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.monsterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.monsterID })
        </td>
    </tr>
}

</table>
